{% extends "shop/base.html" %}
{% load static %}
{% block title %}
  دوبیچو چیست؟
{% endblock %}
{% block content %}
<center>
  <div class="aboutus">
    <div class="aboutushead">
      <div class="aboutusheadtext">
             <img src="{% static 'image/aa.jpg'%}" >
            <h1>پیش زمینه تجاریِ شرکت دوبیچو<h1>
           <h3>گروه تجاری شکاریان در سال 1993 تحت عنوان شرکت لوازم یدکی شکاریان در امارات متحده تاسیس گردید ، ایده ی اصلی آن </h3>
           <h3>فراهم کردن مشاوره و سرویس دهی به مشتریان در واحد های مختلف با کیفیت و درجه یک بود </h3>
           <h3>در مدت دو دهه شرکت شکاریان سهم قابل توجهی را در میان شرکت های مطرح در بازار آفریقا و خاورمیانه پیدا کرد در </h3>
           <h3>طول این سال ها این شرکت همواره خدمات پایدار و متمرکزی را از لحاظ بهره وری و کیفیت ارائه نمود</h3>
           <h3>شرکت شکاریان تحت نظارت عده ی قابل توجهی از متخصصین مسیر پیشرفت خود را پیدا کرد، کسانی که دانش عالی در زمینه </h3>
           <h3>فنی و تجاری به همراه داشتند. و در مرحله ی بعدی پس از شکوفایی به کمک تیم فنی و تجاری خود این شرکت توانست </h3>
           <h3>واردات قابل توجهی را از کشورهای فرانسه و آلمان به عمل آورد</h3>
           <h3>شرکت شکاریان با استفاده از دانش مطلوب از محصول توانست در بازار به طور مطلوبی به پیشرفت برسد و خود را هماهنگ </h3>
           <h3>با بازارهای توسعه یافته ی جهانی نماید</h3>
           <h3>شرکت دوبیچو مفتخر است که قطعاتی با بالاترین کیفیت را برای مشتریان عزیز فراهم نماید ، این شرکت به خوبی در بازار شناخته شده است</h3>
           <h3>به طوری که ما بین فروشندگان قطعات و همچنین تولید کنندگان روابط بسیار زیادی دارد و برندی شناخته شده در بازار روز می باشد</h3>
           <h3>این شرکت در زمینه فراهم کردن قطعات یدکی خودرو از اصلی ترین تا کوچک ترین قطعات را می تواند فراهم نماید</h3>
           <h3>درسال 2006 این شرکت بخش قطعات خطوط نفتی و لوازم مربوطه را به گستره ی فعالیتی خود اضافه کرده و همچنین در زمینه ی </h3>
           <h3>اتوماسیون صنعتی سیستم ها و نگهداری آن ها خدمات شایانی را ارائه نمود. همچنین شرکت ما مفتخر است در زمینه ی اتوماسیون</h3>
           <h3>و سیستم های کنترلی و الکترونیکی در کنار زمینه ی اصلی فعالیت خود یعنی قطعات یدکی خودرو به مشتریان محصول ارائه کند</h3>
      </div>
       
      </div>

  
    </div>
    <div class="aboutusfoot">
    </div>

  </div>
</center>

{% endblock %}
